### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [224]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.sort_values(by = 'Item ID')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
204,204,Chamimla85,16,Male,0,Splinter,1.28
662,662,Mindilsa60,21,Male,0,Splinter,1.28
133,133,Phaena87,20,Male,0,Splinter,1.28
150,150,Inasti31,17,Male,0,Splinter,1.28
121,121,Ilosia37,23,Male,1,Crucifer,3.26
454,454,Lassimla92,25,Male,1,Crucifer,3.26
697,697,Tyaelistidru84,19,Female,1,Crucifer,3.26
134,134,Phyali88,15,Female,2,Verdict,2.48
345,345,Hada39,19,Male,2,Verdict,2.48
560,560,Zontibe81,21,Male,2,Verdict,2.48
213,213,Lirtastan49,29,Male,2,Verdict,2.48
553,553,Yadam35,28,Male,2,Verdict,2.48
201,201,Chanosia60,31,Male,2,Verdict,2.48
317,317,Tyidainu31,18,Female,3,Phantomlight,2.49
494,494,Alaesu77,30,Male,3,Phantomlight,2.49
161,161,Iri67,20,Male,3,Phantomlight,2.49
544,544,Ardcil81,34,Male,3,Phantomlight,2.49
203,203,Aelollo59,33,Male,3,Phantomlight,2.49
368,368,Ethron58,20,Male,3,Phantomlight,2.49
465,465,Sondastsda82,24,Male,4,Bloodlord's Fetish,1.70
635,635,Ali84,29,Male,4,Bloodlord's Fetish,1.70
302,302,Siallylis44,20,Male,4,Bloodlord's Fetish,1.70
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
470,470,Arirgue63,29,Male,4,Bloodlord's Fetish,1.70
742,742,Isty55,20,Male,5,Putrid Fan,4.08
173,173,Fironon91,30,Male,5,Putrid Fan,4.08
530,530,Leetirraya83,24,Male,5,Putrid Fan,4.08
287,287,Rilaera56,20,Male,5,Putrid Fan,4.08
66,66,Chanastsda67,21,Female,6,Rusty Skull,3.70
475,475,Lirtistanya48,24,Male,6,Rusty Skull,3.70
...,...,...,...,...,...,...,...
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
72,72,Marilsa69,25,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
706,706,Chanossanya44,20,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
627,627,Arin32,25,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
464,464,Rianistast50,22,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
580,580,Tyida79,24,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
137,137,Iri67,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
305,305,Siallylis44,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
565,565,Assastnya25,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
429,429,Aiduesu86,22,Female,179,"Wolf, Promise of the Moonwalker",4.48
481,481,Sondossa69,7,Male,179,"Wolf, Promise of the Moonwalker",4.48
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
304,304,Iasursti71,24,Male,181,Reaper's Toll,1.66
375,375,Hallysucal81,25,Male,181,Reaper's Toll,1.66
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
162,162,Styaduen40,17,Male,181,Reaper's Toll,1.66
392,392,Sida61,20,Female,181,Reaper's Toll,1.66
758,758,Iral74,21,Male,182,Toothpick,4.03
256,256,Chamirra53,23,Male,182,Toothpick,4.03
313,313,Iasrira89,23,Male,182,Toothpick,4.03
165,165,Lirtassa52,15,Male,183,Dragon's Greatsword,1.09
618,618,Aisurdru79,29,Female,183,Dragon's Greatsword,1.09
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09

## Player Count

* Display the total number of players

In [150]:
uniquePlayers = pd.DataFrame({"Total Players":[purchase_data.SN.nunique()]})
uniquePlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [151]:
uniqueItems = [purchase_data["Item ID"].nunique()]
avgPrice = [purchase_data["Price"].mean()]
numPurchase = [purchase_data["Purchase ID"].nunique()]
revenue = [purchase_data["Price"].sum()]
summary = pd.DataFrame({"# of Unique Items":uniqueItems,
                        "Average Price":avgPrice, 
                       "# of Purchases":numPurchase,
                       "Total Revenue":revenue})
summary["Average Price"] = summary["Average Price"].map('${:,.2f}'.format)
summary["Total Revenue"] = summary["Total Revenue"].map('${:,.2f}'.format)
summary

   # of Unique Items Average Price  # of Purchases Total Revenue
0                183         $3.05             780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [162]:
genderDemo = purchase_data.drop_duplicates(subset = 'SN')
genderDemo = genderDemo.groupby("Gender").count()
genderDemo = genderDemo.drop(columns=['SN','Age', "Item ID", "Item Name", "Price"])
genderDemo.columns = ['Total Count']
genderDemo["Percentage of Players"] = (genderDemo['Total Count']/genderDemo['Total Count'].sum()*100).map('{:,.2f}%'.format)
genderDemo

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [164]:
genderAnalysis = purchase_data.groupby(["Gender"])
genderAnalysisDF = pd.DataFrame({'Purchase Count':genderAnalysis["Purchase ID"].count(), 
                                 'Average Purchase Price':genderAnalysis["Price"].mean(),
                                 'Total Purchase Value':genderAnalysis["Price"].sum()})
genderAnalysisDF['Avg Total Purchase per Person'] = (genderAnalysisDF['Total Purchase Value']/genderDemo['Total Count']).map('${:,.2f}'.format)
genderAnalysisDF['Average Purchase Price'] = genderAnalysisDF['Average Purchase Price'].map('${:,.2f}'.format)
genderAnalysisDF['Total Purchase Value'] = genderAnalysisDF['Total Purchase Value'].map('${:,.2f}'.format)
genderAnalysisDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [161]:
noDup = purchase_data.drop_duplicates(subset = 'SN')
bins = [0,9,14,19,24,29,34,39,noDup['Age'].max()]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
noDup['Age Group'] = pd.cut(noDup['Age'], bins, labels=labels)

ageGroup = noDup.groupby('Age Group')
ageGroupDF = pd.DataFrame({'Count':ageGroup['SN'].count()})
ageGroupDF["% of Players"]= (ageGroupDF['Count']/ageGroupDF['Count'].sum()*100).map('{:,.2f}%'.format)
ageGroupDF

C:\Users\nickk\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

           Count % of Players
Age Group
<10           17        2.95%
10-14         22        3.82%
15-19        107       18.58%
20-24        258       44.79%
25-29         77       13.37%
30-34         52        9.03%
35-39         31        5.38%
40+           12        2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [182]:
bins = [0,9,14,19,24,29,34,39,purchase_data['Age'].max()]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)
purchaseGroup = purchase_data.groupby('Age Group')
ageAnalysis = pd.DataFrame({'Purchase Count':purchaseGroup['SN'].count(),
                           'Average Purchase Price':purchaseGroup['Price'].mean(),
                           'Total Purchase Value':purchaseGroup['Price'].sum()})
ageAnalysis['Avg Purchase/Person'] = (ageAnalysis['Total Purchase Value']/ageAnalysis['Purchase Count']).map('${:,.2f}'.format)
ageAnalysis['Total Purchase Value'] = ageAnalysis['Total Purchase Value'].map('${:,.2f}'.format)
ageAnalysis['Average Purchase Price'] = ageAnalysis['Average Purchase Price'].map('${:,.2f}'.format)
ageAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase/Person
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [195]:
SNgroup = purchase_data.groupby('SN')
SNanalysis = pd.DataFrame({
    'Purchase Count':SNgroup['Purchase ID'].count(),
    'Average Purchase Price':SNgroup['Price'].mean(),
    'Total Purchase Value':SNgroup['Price'].sum()
})
SNanalysis = SNanalysis.sort_values(by=[['Total Purchase Value']], ascending = False)
SNanalysis['Average Purchase Price']= SNanalysis['Average Purchase Price'].map('${:,.2f}'.format)
SNanalysis['Total Purchase Value']= SNanalysis['Total Purchase Value'].map('${:,.2f}'.format)
SNanalysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [225]:
purchase_data.sort_values(by = 'Item ID')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
204,204,Chamimla85,16,Male,0,Splinter,1.28
662,662,Mindilsa60,21,Male,0,Splinter,1.28
133,133,Phaena87,20,Male,0,Splinter,1.28
150,150,Inasti31,17,Male,0,Splinter,1.28
121,121,Ilosia37,23,Male,1,Crucifer,3.26
454,454,Lassimla92,25,Male,1,Crucifer,3.26
697,697,Tyaelistidru84,19,Female,1,Crucifer,3.26
134,134,Phyali88,15,Female,2,Verdict,2.48
345,345,Hada39,19,Male,2,Verdict,2.48
560,560,Zontibe81,21,Male,2,Verdict,2.48
213,213,Lirtastan49,29,Male,2,Verdict,2.48
553,553,Yadam35,28,Male,2,Verdict,2.48
201,201,Chanosia60,31,Male,2,Verdict,2.48
317,317,Tyidainu31,18,Female,3,Phantomlight,2.49
494,494,Alaesu77,30,Male,3,Phantomlight,2.49
161,161,Iri67,20,Male,3,Phantomlight,2.49
544,544,Ardcil81,34,Male,3,Phantomlight,2.49
203,203,Aelollo59,33,Male,3,Phantomlight,2.49
368,368,Ethron58,20,Male,3,Phantomlight,2.49
465,465,Sondastsda82,24,Male,4,Bloodlord's Fetish,1.70
635,635,Ali84,29,Male,4,Bloodlord's Fetish,1.70
302,302,Siallylis44,20,Male,4,Bloodlord's Fetish,1.70
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
470,470,Arirgue63,29,Male,4,Bloodlord's Fetish,1.70
742,742,Isty55,20,Male,5,Putrid Fan,4.08
173,173,Fironon91,30,Male,5,Putrid Fan,4.08
530,530,Leetirraya83,24,Male,5,Putrid Fan,4.08
287,287,Rilaera56,20,Male,5,Putrid Fan,4.08
66,66,Chanastsda67,21,Female,6,Rusty Skull,3.70
475,475,Lirtistanya48,24,Male,6,Rusty Skull,3.70
...,...,...,...,...,...,...,...
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
72,72,Marilsa69,25,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
706,706,Chanossanya44,20,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
627,627,Arin32,25,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
464,464,Rianistast50,22,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
580,580,Tyida79,24,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
137,137,Iri67,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
305,305,Siallylis44,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
565,565,Assastnya25,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
429,429,Aiduesu86,22,Female,179,"Wolf, Promise of the Moonwalker",4.48
481,481,Sondossa69,7,Male,179,"Wolf, Promise of the Moonwalker",4.48
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
304,304,Iasursti71,24,Male,181,Reaper's Toll,1.66
375,375,Hallysucal81,25,Male,181,Reaper's Toll,1.66
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
162,162,Styaduen40,17,Male,181,Reaper's Toll,1.66
392,392,Sida61,20,Female,181,Reaper's Toll,1.66
758,758,Iral74,21,Male,182,Toothpick,4.03
256,256,Chamirra53,23,Male,182,Toothpick,4.03
313,313,Iasrira89,23,Male,182,Toothpick,4.03
165,165,Lirtassa52,15,Male,183,Dragon's Greatsword,1.09
618,618,Aisurdru79,29,Female,183,Dragon's Greatsword,1.09
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [256]:
itemGroup = purchase_data.groupby(['Item ID','Item Name'])
itemAnalysis = pd.DataFrame({
    'Purchase Count':itemGroup['Purchase ID'].count()
})
ID_Price = purchase_data[['Item ID','Item Name','Price']].set_index('Item ID','Item Name')


itemAnalysis['Total Purchase Value']=itemGroup['Price'].sum()
itemAnalysis = itemAnalysis.merge(ID_Price,on = ["Item ID",'Item Name'], how = 'left')
itemAnalysis = itemAnalysis.sort_values(by=['Purchase Count'], ascending = False)
itemAnalysis = itemAnalysis.drop_duplicates(subset = 'Item Name')
itemAnalysis['Price']= itemAnalysis['Price'].map('${:,.2f}'.format)
#itemAnalysis['Total Purchase Value']= itemAnalysis['Total Purchase Value'].map('${:,.2f}'.format)
itemAnalysis.head()

,Item Name,Purchase Count,Total Purchase Value,Price
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,$4.23
82,Nirvana,9,44.10,$4.90
145,Fiery Glass Crusader,9,41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,$3.53
37,"Shadow Strike, Glory of Ending Hope",8,25.28,$3.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [257]:
itemAnalysis = itemAnalysis.sort_values(by=['Total Purchase Value'], ascending = False)
itemAnalysis.head()

,Item Name,Purchase Count,Total Purchase Value,Price
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,$4.23
82,Nirvana,9,44.10,$4.90
145,Fiery Glass Crusader,9,41.22,$4.58
92,Final Critic,8,39.04,$4.88
103,Singed Scalpel,8,34.80,$4.35